In [1]:
import pandas as pd

In [11]:
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
initial_auction_table = pd.read_csv('gdrive/My Drive/The algorithm from Wall Street/test.csv', sep=';', names = ["BS", "LM", "Volume", "Price"])

In [4]:
initial_auction_table

  BS LM  Volume Price
0  B  M      50     -
1  S  L     100    10
2  S  M     150     -
3  B  L     200    15
4  S  L      50    10
5  B  L      50    12

In [5]:
count_rows = len(initial_auction_table)
count_rows_B, count_rows_S = initial_auction_table["BS"].value_counts()
print(count_rows, count_rows_B, count_rows_S)

6 3 3

In [6]:
initial_auction_table.index = [i + 1 for i in range(count_rows)]
draft_1 = initial_auction_table[(initial_auction_table['LM'] == "L") & (initial_auction_table['BS'] == "B")].sort_values("Price", ascending = True, kind = 'Quicksort')
draft_2 = initial_auction_table[(initial_auction_table['LM'] == "M") & (initial_auction_table['BS'] == "B")]
draft_3 = initial_auction_table[(initial_auction_table['LM'] == "M") & (initial_auction_table['BS'] == "S")]
draft_4 = initial_auction_table[(initial_auction_table['LM'] == "L") & (initial_auction_table['BS'] == "S")].sort_values("Price", ascending = False, kind = 'Quicksort')

In [7]:
auction_table = pd.concat([draft_1, draft_2, draft_3, draft_4])
auction_table

  BS LM  Volume Price
6  B  L      50    12
4  B  L     200    15
1  B  M      50     -
3  S  M     150     -
2  S  L     100    10
5  S  L      50    10

In [14]:
max(auction_table['Volume'][:3])

200

In [21]:
(auction_table[auction_table['BS'] == 'B'])['LM']

6    L
4    L
1    M
Name: LM, dtype: object

In [20]:
if auction_table[auction_table['BS'] == 'B']['LM'] == auction_table[auction_table['BS'] == 'S']['LM']:
  print(auction_table.index)

ValueError: ignored

In [15]:
while True:
  l = len(auction_table)
  
  if max(auction_table['Volume'][i//2:]) > min(auction_table['Volume'][:i//2]):
    max(auction_table['Volume'][i//2:]) = max(auction_table['Volume'][i//2:]) - min(auction_table['Volume'][:i//2])
    auction_table = auction_table.drop(np.where(auction_table['Volume'] == min(auction_table['Volume'][:i//2]))
  if max(auction_table['Volume'][i//2:]) < min(auction_table['Volume'][:i//2]):
    min(auction_table['Volume'][:i//2]) = min(auction_table['Volume'][:i//2]) - max(auction_table['Volume'][i//2:])
    auction_table = auction_table.drop(np.where(auction_table['Volume'] == 1max(auction_table['Volume'][i//2:])))

SyntaxError: ignored